.image-text {


	&__content {   
		display: flex;

		@media(min-width: 1024px) {
			margin: 0 auto;    
			height: 100%;
			gap: 20px;

			.col-md-5 {
				max-width: calc(41.666667% - 10px);
			}
			.col-md-6 {
				max-width: calc(50% - 10px);
			}
			.col-md-7 {
				max-width: calc(58.333333% - 10px);
			}
		}
	}

	&__image {
		display: block;

		img {
			max-width: 100%;
			object-fit: cover;
			border-radius: 30px;
			border: 15px solid $burnter-orange;
			max-height: 681px;
			width: 100%;
		}
	}

	&__text-wrap {
    border-radius: 30px;
    background: $eggshell;
		padding: 53px 40px;
		height: 100%;

		h2 {
			font-family: 'Arvo', sans-serif;
			font-weight: bold;
			font-size: 28px;
			line-height: 40px;
			margin-bottom: 30px;
		}

		p {
			font-size: 18px;
		}
	}

	&__secondary-image-wrap {
		display: flex;
		margin-top: 64px;
    gap: 50px;
	}

	&__secondary-images {
		display: flex;
		gap: 12px;
		margin: 50px 0;

		img {
			object-fit: cover;
			height: 111px;

			&:last-of-type {
				@media(max-width: 1024px) {
					display: none;
				}
			}
		}
	}

	.button {

		&--murk {
			font-size: 32px;
			background: $murk;
			padding: 19.8px;
			display: block;
			margin-top: 64px;
		}
	}
}
