.insights {
//	padding: 70px 30px;
	background: $blue--superlight;

	
	padding: $vertical-block-padding--mobile 20px;

	@media(min-width: 1024px) {
		padding: $vertical-block-padding--desktop 20px;
	}

	.container {
		max-width: 1200px;
		margin: auto;
	}

	&__header {
		border-bottom: $blue--superdark 1px solid;
		padding: 7px 0;
		display: flex;
		justify-content: space-between;
		padding-bottom: 2em;
		align-items: flex-end;

		h2 {
	    	font-size: $size-47;
	    	line-height: 126%;
	    	font-family: $heading-font;
	    	margin: 0;
		}
	}

	&__cta--title {
 		font-size: $size-13;
 		position: relative;
 		padding-right: 2.538em;

 		.arrow {
 			position: absolute;
 			right: 0;
 			top: 50%;
 			transform: translateY(-50%);
 		}
	}

	&__links {
		display: flex;
		gap: 80px;
		padding: 70px 0;

		@media(max-width: 1024px) {
			flex-wrap: wrap;
		}
	}

	&__link {
		min-width: calc(33% - 53px);

		&--title {
		    font-size: $size-30;
    		margin: 0 0 30px 0;
    		line-height: 1.2em;
		}
	}
}