.button {
	display: inline-block;
	width: auto;
	padding: 12px 20px;
	border-radius: 0px;
	transition: all 250ms ease-in-out;
	color: $grey;

	&--primary,
	&--ghost,
	&--murk {
		border: 1px solid $burnter-orange;
		padding: 12px 20px;
		font-weight: 800;
		text-transform: uppercase;
		display: block;
		text-align: center;
		color: $white;

		@media(min-width: 992px) {
			display: inline-block;
		}

		&:hover {
			color: $white;
			background: $burnt-orange;
		}
	}

	&--primary,
	&--murk {
		border-radius: 50px;
		background: $burnter-orange;
		font-weight: 400;
		text-transform: none;
	}

	&--murk {
		border-color: $murk;
	}

	&--ghost {
		border: 1px solid $burnter-orange;
		color: $burnter-orange;

		&:hover {
			color: $burnt-orange;
			border-color: $burnt-orange;
		}
	}
}