@font-face {
  font-family: "Graphik";
  src: 
    url("./assets/fonts/Graphik-Medium-Web.woff") format("woff"),
    url("./assets/fonts/Graphik-Medium-Web.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Graphik";
  src: 
    url("./assets/fonts/Graphik-Regular-Web.woff") format("woff"),
    url("./assets/fonts/Graphik-Regular-Web.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "FlechaM";
  src: 
    url("./assets/fonts/FlechaM-Light.woff") format("woff"),
    url("./assets/fonts/FlechaM-Light.woff2") format("woff2");
}